<!DOCTYPE html>
<html lang="en">
{% include 'header.html.j2' %}
<body>
    {% include 'body_header.html.j2' %}
    {% include 'filter_bar.html.j2' %}
    {% include 'content_wrapper.html.j2' %}
    {% include 'footer.html.j2' %}
    {% include 'modal.html.j2' %}
    {% include 'javascript.html.j2' %}
</body>
</html>
